<form novalidate>

    <div>
      <label>
        First Name:
        <input type="text" [(ngModel)]="person.firstName"
          name="personFirstName" required #personFirstName="ngModel">
      </label>
      <span *ngIf="!personFirstName.valid && personFirstName.touched">
        First name is a required field
      </span>
    </div>

    <div>
      <label>
        US Citizen:
        <input type="checkbox" [(ngModel)]="person.usCitizen"
          name="personUSCitizen">
      </label>
    </div>

    <div>
      <label>
        Comments:
        <textarea [(ngModel)]="person.comments" name="personComments"></textarea>
      </label>
    </div>

    <div>

      <fieldset>

        <legend>Political Party</legend>
        
        <div>
          <label>
            <input type="radio" [(ngModel)]="person.politicalParty" name="personPoliticalParty" value="democrat">
            Democrat
          </label>
        </div>

        <div>
          <label>
            <input type="radio" [(ngModel)]="person.politicalParty" name="personPoliticalParty" value="republican">
            Republican
          </label>
        </div>

        <div>
          <label>
            <input type="radio" [(ngModel)]="person.politicalParty" name="personPoliticalParty" value="green">
            Green
          </label>
        </div>

        <div>
          <label>
            <input type="radio" [(ngModel)]="person.politicalParty" name="personPoliticalParty" value="libertarians">
            Libertarian
          </label>
        </div>

        <div>
          <label>
            <input type="radio" [(ngModel)]="person.politicalParty" name="personPoliticalParty" value="constitution">
            Constitution
          </label>
        </div>

      </fieldset>

    </div>

    <div>
      <label>
        State:
        <select [(ngModel)]="person.residency" name="personResidency">
          <option value="">Select One...</option>
          <option *ngFor="let state of states" [value]="state">{{state}}</option>
        </select> 
      </label>
    </div>

    <button type="button" (click)="send()">Send</button>

  </form>
